* {
    margin: 0;
    padding: 0;
    font-family: "MegaMan 2";
    letter-spacing: 0.3vw;
}
@font-face {
    font-family: "MegaMan 2";
    src: url(megaman.ttf);
}
body {
    background-image: url('images/background2.png');
    background-repeat: no-repeat;
    background-size: 100% 130%;
}
header {
    height: 5vh;
}

header > h1 {
    font-size: 5vh;
    text-shadow: 3px 3px 3px #1f3bff;
    color: deepskyblue;
    text-align: center;
    letter-spacing: 1vw;
    margin-top: 4vh;
}

.stats-container {
    background-color: rgba(0,20,40, 0.5);
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.15);
    border-radius: 1%;
    color: deepskyblue;
    text-shadow: 2px 2px 2px #0652ff;
    text-align: center;
    margin-right: 3vw;
    margin-top: 23vh;
    width: 18vw;
    height: 62vh;
    font-size: 1.5vh;
}
.games-played, .attempts, .accuracy {
    color: white;
    margin: 1em 1vw;
    font-size: 1.5vh;
}

.aboutandsettings {
    color: white;
    position: relative;
    top: 4vh;
    padding: 5px 0 5px 0;
}
.aboutandsettings a {
    color: white;
    text-decoration: none;
}
.aboutandsettings a:hover {
    color: #1eb7ff;
    text-decoration: none;
}
.value {
    margin-bottom: 25px;
}
.reset_button {
    position: relative;
    margin: 5vh 1vw;
    color: white;
    background-color: #16ccff;
    text-transform: uppercase;
    padding: 1vh;
}
.play_music_button {
    position: relative;
    margin: 1vw;
    color: white;
    background-color: #16ccff;
    text-transform: uppercase;
    padding: 1vh;
}

.mid {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 60vw;
    height: 68vh;
    background-color: rgba(0,0,0, 0.5);
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3);
    border-radius: 1%;
    margin-top: 23vh;
}

.dancingman {
    position: absolute;
    width: 18vh;
    height: 18vh;
    top: 72vh;
    left: 15%;
}

.card {
    display: inline-block;
    position: relative;
    height: 21vh;
    width: 8vw;
    margin: 0.4em;
    transition-duration: 1.25s;
    transform-style: preserve-3d;
}
.back > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 21vh;
    width: 8vw;
    backface-visibility: hidden;
}

.front > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 21vh;
    width: 8vw;
    rotate3D(0,1,0,180deg);
}

.flipcard {
    transform: rotate3D(0,1,0,180deg);
}
.audio {
    bottom: -14vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.you-win, .you-lose {
    font-size: 6vh;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    box-shadow: 10px 10px 10px black;
    color: #2ad1ff;
    padding: 0.5em 1.5em;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, 0%);
}

.health-container {
    position: absolute;
    left: 2.5vw;
    height: 500px;
    width: 50px;
    border: 1px solid black;
}