body {
    position: relative;
    width: 100vw;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 150%;
}
header {
    width: 100%;
    height: 15%;
    padding-bottom: 1em;
}
header > h1 {
    display: inline;
    position: relative;
    left: 35%;
    text-transform: uppercase;
    font-size: 500%;
    color: deepskyblue;
    font-family: courier;
    top: 3vh;
}
.gamelogo {
    height: 125px;
    width: 125px;
    position: absolute;
    left: 6.5%;
    top: 3%;
}
.stats-container {
    width: 160px;
    height: 485px;
    font-family: Courier;
    text-transform: uppercase;
    box-sizing: border-box;
    background-color: mediumblue;
    box-shadow: 5px 5px black;
    color: deepskyblue;
    border: 3px solid black;
    position: relative;
    float: left;
    text-align: center;
    left: 5%;
    margin: 0;
    top: 5vh;
}
.aboutandsettings {
    color: white;
    position: relative;
    top: 8vh;
    padding: 5px 0 5px 0;
}
.aboutandsettings a {
    color: white;
    text-decoration: none;
}
.aboutandsettings a:hover {
    color: blue;
}
.value {
    margin-bottom: 25px;
}
.reset {
    position: relative;
    margin-top: 10vh;
    color: white;
    background-color: mediumblue;
    text-transform: uppercase;
    padding: 10px;
}
.game-area {
    display: inline-block;
    width: 800px;
    height: auto;
    box-sizing: border-box;
    position: relative;
    left: 9%;
    top: 3.5vh;
}
.dancingman {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 100%;
    left: 6%;
}
.dancingman2 {
    position: absolute;
    width: 115px;
    height: 115px;
    top: 100%;
    left: 85%;
}
.card {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 150px;
    margin: 1em;
    text-align: center;
    box-shadow: 5px 5px black;

}
.back > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 100px;
}
.front > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 100px;
}
.audiocontrols {
    position: absolute;
    top: 45vh;
    right: 35vw;
}